{# empty Twig template #}
<form method="POST" action="">
    type:<input type="text" name="type" />
    cin:<input type="text" name="cin" />
    nom:<input type="text" name="nom" />
    prenom:<input type="text" name="prenom" />
    email:<input type="text" name="email" />
    login:<input type="text" name="login" />
    mot de passe:<input type="text" name="mdp" />
    adresse:<input type="text" name="adr" />
    telephone:<input type="text" name="tel" />
    <input type="submit" value="s'inscrire" />
</form>